@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -100px;
  
}

.main .headertab{
  display: flex;
  justify-content: space-between;
background-color: #444D50;
width: 55vw;
height: 3vh;
}

.main .headertab p{
  margin-top: 2px;
  color: white;
  margin-left: 20px;
}

.main .bodytab{
  background-color: rgba(25, 40, 45, 0.4);
  width: 55vw;
  height: 55vh;
  
}

.dash-wrap{
  display: flex;
}

.main-books{
  position: relative;
  left:70px;
  flex: 4;
}

.add-new{
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
}

.add-new button{
  position: relative;
  left: 130px;
  width: 7vw;
  height: 38vh;
  border: 4px dashed #7D6211;
  background-color: #fff6e48f;
  color: #7D6211;
  font-size: 20px;
}



table{
  color: white;
  width: 100%;
}

tr{
  height: 30px;
  
}

td p{
  width:fit-content;
  margin-inline: auto;
}

th{
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.tabhr div{
margin-inline: 10px;
}

.tabhr{
  display: flex;
}

.south{
  margin-top: 3px;
}

.north{
  margin-top: 2px;
}

.td-image{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-desc{
  width: 40px;
}

.div-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #E6FBFB;
  border: 1px solid #008D8D;
}

.div-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #F8E8F2;
  border: 1px solid #911463;
}

.img-category{
  height: 90px;
  width: 60px;
}

.big-font{
  color: #008D8D;
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.big-font span{
  color: white;
}
  


