.setting{
    margin-left:100px ;
    margin-top: 100px;
     
}

.setting p{
  color: #797B7F;
}

.setting h1{
  color: white;
  text-shadow: 3px 3px 15px black;
}

.setting{
  color: white;
  text-shadow: 3px 3px 15px black;
}

.all-cont{
  display: flex;
}

.img-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-top: -50px;
}

.img-btn img{
 border-radius: 100%;
 width: 200px;
 height: 200px;
}

.img-btn button{
  margin-top: 20px;
  padding: 7px 10px;
  width: 100px;
  border: none;
  color: rgb(63, 63, 63);
  box-shadow: 3px 3px 5px black;
}

.cont-shared input{
  margin-block: 10px;
  margin-left: 50px;
  padding: 10px 15px;
   border-radius: 5px;
   border: 1px solid rgb(21, 21, 21);

}

.input1{
  margin-left: 78px !important;
}

.cont-shared label{
  color: #797B7F;
}

.em-word{
  margin-top: 20px;
}

.hr1{
  width: 300px;
  margin-left: 0;
}

